*{margin:0;padding:0;} 

body {
background-color: black;
font-family: Arial, sans;
font-size:16px;
line-height:180%;
color: #dbdbdb;
margin-left: 30px;
}

.menulogo2 {
display: inline;
float: left;
margin-bottom: 20px;
margin-right: 18px;
}

ul#menu-header-menu-1.menu {
padding-bottom: 20px;
margin-bottom: 10px;
}

ul#menu-header-menu-1.menu li {
font-family: Courier, sans;
font-color: #e5e5e5;
display: inline;
float: left;
margin-right: 10px;
text-decoration: underline;
}
#main {
float: right;
}
a {
text-decoration:none;
color: #c40e01;
}

a:hover {
color:black;
background-color: #c40e01;
}

img {border:none;}
ul,li{list-style-type:none;}

textarea,input {
font-size:12px;
background:#000;
color: #ddd;
border: 1px solid #033E00;
-moz-border-radius:2px;
margin-bottom:5px;
padding: 4px;
}
/*
.aligncenter {
display: block;
margin-left: 0px;
}

.alignleft{float:left;}
.alignright{float: left;}
*/
blockquote {
margin: 20px 5px 5px 5px;
border: 1px dashed #ccc;
background: url("images/blockquote.gif") 0% 0% no-repeat #fff;
padding: 7px;
padding-left: 0px;
}

h1{
color: #00ff0c;
}

h1 a {
color:#00ff0c;
padding-right:10px;
}

h1 a:hover {
color:black;
background-color: #00ff0c;
;}

h1 span {

color: #00ff0c;
font-weight:normal;
font-size:12px;
padding: 5px 10px;
}

h2 { 
font-family: "Courier New", monospace;
font-weight: bold;
font-size:25px;
letter-spacing:-1px;
padding-top:8px;
margin-bottom:15px;
}

.pagetitle {font-size:20px;padding-left:200px;margin-top:10px;background:black;font-weight:normal;color:#00ff0c;}

h3 { 
font-size:14px;
color: #00ff0c;
}

#page {
width:900px;
margin: auto 0;
text-align: center;

/* position: absolute; top: 0px; left: 224px; */
}

#header {
padding-top:0px;
padding-bottom:0 !important;
padding-bottom:0px;
float:left;
}

#sform {
width:219px;
height:23px;
float:right;
margin:30px 40px 0 0;
/* background:url("images/searchbar.png") no-repeat 0% 0%; */
}

input#q {
border:0;
font-size:11px;
font-weight: strong;
background:black;
margin:5px 0 0 20px;
width:190px;
color: #00ff0c;
}

.nav {
 text-align:center; 
border-top: 1px solid #033e00;
margin-top: 8px;
padding-top: 0px;
}

.nav ul li {
float:left;
width: 100px;
color: #00ff0c;
list-style-type:none;
}

.nav ul li a {
border-right:1px solid #033e00;
display:block;
margin-left:0px;
}

.nav ul li a:hover {
color: black;
background:#00ff0c;
}

#content {
margin: 0 0px 0px 0px;
padding: 0 0 0px 0;
border-bottom: 1px solid #033e00;
float:left;
}

.metainfo {
color: #dbdbdb;
float:left;
width: 200px;
text-align:right;
padding-right:10px;
}

.metatitle {
color: #dbdbdb;
border-top:1px solid #033e00;
border-bottom:1px solid #033e00;
padding:5px 10px;
background:#ddd;
text-align:left;
}

.metatitle1 {
font-family: Courier; monospace;
color: #dbdbdb;
border-bottom:1px solid black;
padding:5px 10px;
}

.metaentry {padding:5px 10px;text-align:left;}

.entry{
float:right;
width:640px;
padding-left:10px;
text-align:left;
}

#post-entry {line-height:180%;}
.entry p, .comment-entry p {margin-bottom:20px;}

.navigation, .navigation a{font-size:11px;color:#ccc;}
.navigation a:hover{background-color: #00ff0c;color:#00ff0c;}
.alignleft {float:left;margin-bottom:10px;}
.alignright {float:left;}

.admincomment .ava img {border: none;}
.ava img {border:none ;}

.admincomment .ava {
background:url("images/line.gif");
color:#fff;
}

.ava {
-moz-border-radius: 5px;
background:url("images/line1.gif");
padding:3px 5px;
color:#000;
}

.admincomment .ava a {color:#fff;}
.admincomment .ava a:hover {color:yellow;}
.ava a {color:#00ff0c;text-decoration:underline;}
.ava a:hover {color:#00ff0c;}

.count {
font-size:30px;
text-align:right;
color:#ccc;
*padding: 20px 0;
*margin:20px 0 !important;
padding:0;
}

.reply {font-size:10px;}

.comment-entry{
float:right;
width:640px;
padding-left:10px;
background:url("images/ballon.gif") no-repeat;
}

#footer {
border-top:1px solid #00ff0c;
padding-top:10px;
margin-bottom:50px;
}

#sidebar {margin-bottom:0px;}

.side , .side-last{float:left;width:212px;margin-left:10px; }

.title {
padding-left:5px;
font-size:10px;
color:#ddd;
}

.inside{padding-left:2px;margin-top:5px;}
padding-left:9px;
}

.copyright {padding-top:5px;font-size:11px;}
span.previous { padding: 0 20px 0 0; float: left; }
.copyright p {float:right;}

.wp-caption {
text-align: center;
margin: 10px;
border: 1px solid #00ff0c;
padding: 7px;
background-color: black;
}
 
.wp-caption p.wp-caption-text {
font-size: 12px;
line-height: 180%;
padding: 0;
color: #000;
letter-spacing: 0.1em;
text-align: center;
}
